.search_bar{
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
}

@media (max-width: 700px) {
  .search_bar {
    flex-direction: column;
    gap: 10px;
  }

  input{
    width: 70% !important;
  }
}
