.details {
  display: flex;
  padding: 90px;
  gap: 100px;
}

.details img {
  width: 50%;
  height: 450px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.back_button {
  width: 100px;
  display: flex;
  font-size: large;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}
