.details {
  display: flex;
  padding: 10px;
  padding-inline: 50px;
  gap: 100px;
}

.details img {
  width: 50%;
  aspect-ratio: 1/.5;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.back_button {
  width: 100px;
  display: flex;
  font-size: large;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .stats {
    grid-template-columns: 1fr;
  }
  .details img {
    width: 100%;
    height: fit-content;
  }
  
  .details {
    flex-direction: column;
    gap: 0px;
    padding: 20px;
  }
}
