@import url("https://fonts.google.com/specimen/Nunito+Sans");

.light {
  --element-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(0, 2%, 91%);
  --txt: hsl(200, 15%, 8%);
}
.dark {
  --element-bg: hsl(209, 23%, 22%);
  --main-bg: hsl(207, 26%, 17%);
  --txt: hsl(0, 0%, 100%);
}

body {
  font-weight: 300;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

nav {
  padding: 20px;
  padding-inline: 50px;
  font-weight: 600;
  font-size: xx-large;
  background-color: var(--element-bg);
}

.App {
  background-color: var(--main-bg);
  color: var(--txt);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

button {
  background-color: var(--element-bg);
  margin-inline: 10px;
  padding: 10px;
  color: var(--txt);
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:hover {
    cursor: pointer;
  }
}

p span {
  &:nth-child(2) {
    font-weight: 100;
  }
  &:nth-child(1) {
    font-weight: 600;
  }
}

h1 {
  font-weight: 800;
}

input {
  box-sizing: border-box; /* add this to include padding and border in width/height */
  width: 400px;
  height: 55px;
  padding-left: 15px; /* instead of text-indent */
  color: var(--txt);
  background-color: var(--element-bg);
  border: none;
  border-radius: 5px;
  &::placeholder {
    color: inherit;
  }
}

select {
  box-sizing: border-box; /* add this to include padding and border in width/height */
  width: max-content;
  height: 55px;
  padding: 0px 20px; /* instead of text-indent */
  color: var(--txt);
  background-color: var(--element-bg);
  border: none;
  border-radius: 5px;
}

option {
  color: var(--txt);
  padding: 10px;
  margin: 30px;
}

.spinnerBody {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.spinner {
  z-index: 1;
  height: 60px;
  width: 60px;
  border: 6px solid rgb(151, 197, 197);
  margin: auto;
  border-radius: 50%;
  border-top: 6px solid var(--element-bg);
  animation: spin 2s ease infinite;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
