@import url("https://fonts.google.com/specimen/Nunito+Sans");

:root {
  --dark-ele: hsl(209, 23%, 22%);
  --dark-bg: hsl(207, 26%, 17%);
  --dark-text: hsl(0, 0%, 100%);
  --light-text: hsl(200, 15%, 8%);
  --light-ele: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 98%);
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  font-weight: 300;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.element {
  background-color: var(--dark-ele);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
}