.cards {
  padding-inline: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  row-gap: 50px;
}

.element {
  background-color: var(--dark-ele);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.country_details {
  padding: 0px 20px 30px;
  margin: auto;
  color: var(--dark-text);
}

.country_details p {
  line-height: 70%;
}
